body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
}

.button {
    background-color: #A9A2BF;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid #A9A2BF;
    border-bottom: 5px solid #A9A2BF;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    font-size: 24px;
}

.info {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
}

article {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 30px;
}

.article-but {
    text-decoration: none;
    background-color: #7D739E;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #43366E;
    padding: 25px;
}

footer a {
    margin-right: 25px;
}

footer p {
    color: white;
    font-size: 24px;
}

header, nav, .info, footer {
    display: flex;
}
